@keyframes colorChange {
    to {
        --fillColorBrilho: #263694;
        --fillColorBrilhoDomo: #0026fc;
        --fillColorSombraDomo: #1730be;
        --fillColorBrilhoFilete: #fff;
        --fillRiscos: #a40101;
    }
}

@keyframes colorSpinn {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

#domo {
    transform-origin: center center;
}

#spinn {
    animation: colorChange 3s ease-in-out infinite;
    fill: red;
    --fillColorBrilhoFilete: #fff;
    --fillColorSombraDomo: #a40101;
    --fillRiscos: #1730be;
    stroke: #fff;
    stroke-width: 1px;
    stroke-linecap: round;
    width: 96px;
}

#brilhoExterno {
    stroke: var(--foreground);
    transform-origin: center center;
    animation: colorSpinn 3s ease-in-out infinite;
}


