
#sirene {
    fill: var(--foreground);
}

#domo {
    animation: flipSirene 2.5s forwards;
    transform-origin: center center;
}

#riscos {
    animation: flipBrilho 2.5s forwards;
    transform-origin: 0 25%;
    stroke: none;
}

#cardModule:hover #domo {
    animation: flipSirene  2.5s infinite;
    transform-origin: center center;

}

#cardModule:hover #riscos {
    animation: flipBrilho 2.5s infinite;
    transform-origin: 0 25%;
    stroke: none;
}


@keyframes flipSirene {
    50% {
        transform: rotateY(180deg);
    }
}

@keyframes flipBrilho {
    50% {
        transform: rotateX(180deg);

        fill: #e11d48;
    }
}
