#pencil {
    animation: __slideInDown 3s forwards ease-in-out ;
    transform-origin: left;

}

#plus {
    transform-origin: 0 900%;
    animation: plusScale 3s forwards ease-in-out  alternate-reverse;
}

svg:hover #plus,  #cardModule:hover #plus {
    animation: plusScale 3s infinite ease-in-out ;

}

svg:hover #pencil,  #cardModule:hover #pencil {
    animation: __slideInDown 3s infinite ease-in-out ;

}

@keyframes __slideInDown {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translateX(-250%);
    }
    40% {
        transform: translateX(150%);
        fill: #e11d48;

    }
    60% {
        transform: translate(-250%, -250%);
    }
    80% {
        transform: translate(-250%, -250%) translateX(300%);
    }
    100% {
        transform: translateX(0);

    }
}

@keyframes plusScale {
    50% {
        fill: #e11d48;
        transform: scale(115%);

    }

}


