#seta {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  fill-rule: evenodd;
  fill: none;
  stroke-dasharray: 4490;
    stroke-width: .6;

}

#setaPath path {
  animation: arrowRight  2s forwards;
  transform-origin: left center;


}

#bar1, #bar2, #bar3, #bar4 {
  animation: expandGraph  2s forwards;
  transform-origin: bottom center;

}



#cardModule:hover #setaPath path {
  animation: arrowRight  2s infinite;
}

#cardModule:hover #bar1, svg:hover #bar2, svg:hover #bar3, svg:hover #bar4 {
  animation: expandGraph  2s infinite;
}
@keyframes arrowRight {
  to {
    transform: translate(5px, -3px);
  }
    from    {
    transform: translate(0, 0);
        stroke: #e11d48;

    }
}

@keyframes expandGraph {
  to {
    transform: scaleY(1.1);

  }
}

